.header-container{
    padding: 45px 45px 45px 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #242424; */
    background-color: #474747;
    font-size: larger;
    font-weight: bold;
}