.form-container{
    background-color: #811642;
    margin: 50px 0px;
    width: 35%;
    padding: 25px;
    border-radius: 30px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.label-input-grouped{
    display: flex;
    flex-direction: column;
    width: 90%;
}


.btn-login-form{
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    width: max-content;
}

.btn-login-form:hover{
    color: black;
    background-color: #6C6Ac1;
}

input{
    border-radius: 15px;
    padding-left: 5px;
    height: 35px;
    border: 0px;
}

.forgotten-pass{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 13px;
    width: 90%;
    margin-top: -15px;
}