.Progress_Container{
    background-color: #811642;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.progress_text{
    font-weight: 400;
    font-size: larger;
}

.progress_section{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}