.reg-form-form{
    width:100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.form-container{
    background-color: #811642;
    margin: 50px 0px;
    width: 35%;
    padding: 25px;
    border-radius: 30px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.label-input-grouped{
    display: flex;
    flex-direction: column;
    width: 90%;
}


.btn-register-form{
    background-color: #FFFFFF;
    margin-top: 5px;
    border-radius: 15px;
    font-size: 20px;
    padding: 5px 10px;
    text-decoration: none;
    width: max-content;
    border: 0px;
}

.btn-register-form:hover{
    background-color: #6C6Ac1;
}

.verified-user-msg{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.error {
    color: rgb(255, 223, 41);
    font-size: 15px;
    font-weight: bold;
}

.dropdown_register{
    border-radius: 10px;
    font-size: large;
    margin-bottom: 20px;
}

.intro_recover{
    text-align: center;
    margin: 5px;
}