.img_404{
    width: 65%;
    height: auto;
}

.container_error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    margin-bottom: 40px;
}

.container_regresar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.container_regresar a{
    font-size: x-large;
    color: black;
    text-decoration: underline;
    font-weight: bold;
}