.profile_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons_pair_row{
    margin: 35px 0px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    width: 30%;

}

.buttons_pair_row > a > button {
    background-color: #cccccc;
    border: solid;
    margin-top: 5px;
    border-radius: 15px;
    font-size: 20px;
    padding: 5px 10px;
    text-decoration: none;
    width: max-content;
}

.buttons_pair_row > a > button:hover {
        background-color: #6C6Ac1;
}

